<div>
    {% if product.featured_image %}
        <img src="{{ product.featured_image | img_url: "master" }}" alt="{{ product.featured_image.alt }}">
    {% endif %}
    <a href="{{ product.url }}"><h2>{{ product.title }}</h2></a>
    <p>{{ product.price | money }}</p>
    <form method="post" action="/cart/add" id="cart_from">
    <input type="hidden" name="id" id="id" value="{{ product.variants.first.id }}" />
    <input type="hidden" min="1" type="number" id="quantity" name="quantity" value="1"/>
    <input type="submit" value="Add to cart" class="btn" />
    </form>
    <div class="product_notification"></div>
</div>