<div>
    {{ section.settings.site_logo |  img_tag }}
</div>
<div>
    {% assign navmenu = linklists[section.settings.header_menu].links %}
    {% if navmenu != blank %}
    <ul>
        {% for link in navmenu %}
            {% if link.links != blank %}
                <li class="{{ link.title }}">
                    {{ link.title }}
                    <ul>
                        {% for childlink in link.links %}
                            <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="{{ link.title }}"><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
                                                                                                     
    <ul>
        <li id="cart_item_count" data-cart="{{ cart.item_count }}"><a href="{{ routes.cart_url }}">Cart({{ cart.item_count }})</a></li>
        <li><a href="{{ routes.account_login_url }}">Login</a></li>
        <li><a href="{{ routes.account_register_url }}">Register</a></li>
    </ul>
</div>

{% schema %}
    {
        "name": "Header",
        "settings": [
            {
                "type": "image_picker",
                "id": "site_logo",
                "label": "Site Logo"
            },
            {
                "type": "link_list",
                "id": "header_menu",
                "label": "Header Menu",
                "default": "main-menu"
            }
        ]
    }
{% endschema %}